*{
    font-family: "Noto Sans", monospace;
}
#menu{
    align-self: auto;
    width: 20%;
    height: 100%;
    position: absolute;
    background-color: rgb(38,50,56);
}
#text{
    background-color: rgb(38,50,56);
    position: absolute;
    width: 80%;
    height:100%;
    left: 20%;
}